[Unit]
Description=The Lounge (IRC client)
After=network-online.target
Wants=network-online.target


[Service]
User=thelounge
Group=thelounge
Type=simple
ExecStart=/usr/bin/thelounge start
ProtectSystem=yes
ProtectHome=no
NoNewPrivileges=no
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
